<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>977464866865-9i91o8g71idkuk8334ae8tdvo6m3030f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.977464866865-9i91o8g71idkuk8334ae8tdvo6m3030f</string>
	<key>API_KEY</key>
	<string>AIzaSyC9O2A4YOZxHW-hOHHzy2JoKE1scOQ4qX4</string>
	<key>GCM_SENDER_ID</key>
	<string>977464866865</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.challenge</string>
	<key>PROJECT_ID</key>
	<string>flutter-solutionch-202</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-solutionch-202.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:977464866865:ios:6fdc80f980a9d968f33d10</string>
</dict>
</plist>